<section class='section container' id='collections'>
  <div class='text-right mb-10' data-aos='fade-left' id='filter-menu'>
    {% for item in data.collections %}
      <span class='px-1 {% if forloop.first == true %} active {% endif %}' onclick='setActiveCollections(this, "{{item.name}}")'>{{item.label}}</span>
    {% endfor %}
  </div>
  <div id='collections-wrapper'>
    {% for item in data.collections %}
      <div class='flex flex-wrap {% if forloop.first != true %} hidden {% endif %}' id='{{item.name}}'>
        {% for product in item.items %}
          <div class='product-item w-full cursor-default sm:w-1/2 md:w-1/3 {% if item.type == "best-seller" %} hidden {% endif %}'>
            <div class='w-full p-4' data-aos='zoom-in-up'>
              <div class='product-item-wrapper relative w-full overflow-hidden shadow-xl hover:shadow-2xl duration-500 transition' style='padding-bottom: 120%;'>
                <img alt='' class='absolute w-full h-full object-cover object-center' src="{{product.images[0]}}">
                <a href="{{product.images[0]}}" data-lightbox="{{product.id}}" class='zoom-btn z-20 absolute top-4 right-4 h-8 w-8 flex justify-center items-center cursor-pointer leading-4 rounded-full bg-black bg-opacity-60 hover:opacity-60'>
                  <ion-icon class='text-xl text-white' name='expand-outline'></ion-icon>
                </a>
                <div class='description absolute z-10 bg-black bg-opacity-60 text-white bottom-0 right-0 left-0 px-4 py-2 opacity-0 transition duration-500'>
                  <p class='text-md font-semibold'>{{product.name}}</p>
                  <p class='text-md font-light'>{{product.id}}</p>
                </div>
              </div>
            </div>
            {% for img in product.images offset:1 %}
              <a href="{{img}}" class='hidden' data-lightbox="{{product.id}}"></a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>


</section>